body {
  background-image: linear-gradient(silver, white, white);
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
}
.display {
  background-color: #2d2a2e;
  border: 0px;
  height: 200px;
  color: white;
}
.display:hover {
  cursor: auto;
}
.display::selection {
  background-color: #5c6971;
}
table {
  border: 1px solid transparent;
  border-spacing: 15px;
  display: flexbox;
  flex-wrap: wrap;
  border-radius: 50px;
  background-color: #f9f9f9;
  box-shadow: 6px 6px 10px grey;
}
p {
  display: inline-block;
  padding: 5px;
  font-size: x-large;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 3px 3px 5px grey;
}
div {
  padding: 10px;
  text-align: center;
}
td {
  border: 1px solid transparent;
  font-size: 30px;
  padding: 10px;
  border-radius: 50px;
  color: #5c6971;
  border-top-color: white;
  border-left-color: white;
}
td::selection {
  background-color: transparent;
}
td:hover {
  cursor: pointer;
}
.lightyellow {
  background-color: #f6f0e4;
  box-shadow: 3px 3px 5px #e7d9be;
}

.rightcol {
  padding: 10px 20px;
}
.white {
  background-color: #f5f5f7;
  box-shadow: 3px 3px 5px #d6d7d9;
}

.lightpurple {
  background-color: #e1d5e9;
  box-shadow: 3px 3px 5px #c9aee5;
}

.backspace {
  padding: 0%;
  background-color: #e4e8eb;
  box-shadow: 3px 3px 5px #bebebe;
}
.equal {
  color: white;
  background-color: #8c27db;
  box-shadow: 3px 3px 5px #9b71c3;
}
.c {
  background-color: #fbb72d;
  color: white;
  box-shadow: 3px 3px 5px #e5bf81;
}
td:active {
  box-shadow: 0px 0px 0px #e7d9be;
  border-top-color: transparent;
  border-left-color: transparent;
}
